.footer__logo {
    margin-top: 67px;
    min-height: 18px;
    max-width: 318px;
    margin-bottom: 60px;
    justify-content: left;
}
@media (max-width: 425px) {
  .footer__logo {
    margin-top: 48px;
    margin-bottom: 36px;
    max-width: 282px;
    min-height: 14px;
  }
}