.elements {
    display: grid;
    max-width: 880px;
    width: 100%;
    grid-template-columns: repeat(3, minmax(auto, 282px));
    gap: 20px 17px;
    margin: auto;
}
  @media (max-width: 896px) {
    .elements{
      max-width: 579px;
      grid-template-columns: repeat(2, minmax(auto, 282px));
    }
  }
  
  @media (max-width: 599px) {
    .elements{
      max-width: 282px;
      grid-template-columns:  minmax(auto, 282px);
    }
  }